#vals-timeline-countdown {  
	/**height: 45px;**/ 
}

#vals-timeline-wrapper{
	width: 240px;
	border: 1px solid blue;
}

#vals-timeline-header{
	background-color:#0000ff;
	text-align:center;
	font-weight:bold;
	font-size:22px;	
	color:#ffffff;
}

#vals-timeline-icon{
	height: 100px;
	/** placeholder here**/
}

#vals-timeline-body{
	padding:4px;
}

#vals-timeline-period-header{
	text-align:center;
}

#vals-timeline-period{
	text-align:center;
}

#vals-timeline-deadline{
	text-align:center;
}

#vals-timeline-countdown-footer{
	text-align:center;
}


/************************ countdown css ********************************/
.is-countdown {
	/**border: 1px solid #ccc;**/
	background-color: #eeeff;
}
.countdown-rtl {
	direction: rtl;
}
.countdown-holding span {
	color: #888;
}
.countdown-row {
	clear: both;
	width: 100%;
	padding: 0px 2px;
	text-align: center;
}
.countdown-show1 .countdown-section {
	width: 98%;
}
.countdown-show2 .countdown-section {
	width: 48%;
}
.countdown-show3 .countdown-section {
	width: 32.5%;
}
.countdown-show4 .countdown-section {
	width: 24.5%;
}
.countdown-show5 .countdown-section {
	width: 19.5%;
}
.countdown-show6 .countdown-section {
	width: 16.25%;
}
.countdown-show7 .countdown-section {
	width: 14%;
}
.countdown-section {
	display: block;
	float: left;
	text-align: center;
}
.countdown-amount {
    font-size: 100%;
}
.countdown-period {
    display: block;
}
.countdown-descr {
	display: block;
	width: 100%;
}