html{
	/**font-family:Verdana, Geneva, sans-serif;**/
	}

/*************************************************
	CSS for the projects views
*************************************************/	
#project_container{
}

#project_item{	
	border: 1px solid #f0f0f0;
	padding: 4 4 4 4px;
	margin: 8px;
}

#project_header{
	padding: 4 4 4 4px;
	margin: 8px;
	font-weight:bold;
}

#project_desc{
	padding: 4 4 4 4px;
	margin: 8px;
}

/*************************************************
	CSS for the general layout of frontpage block
*************************************************/	
#vals_block_content{
	/**width: auto;**/
	width: 686px;
	/**overflow: hidden;**/
}

.block-padding{
	padding: 4 4 4 4px;
	margin: 8px;
	border: 1px solid black;
}

.vals-intro{
	/**width:auto;**/
	overflow: hidden;
	/**border: 1px solid red;**/
	height: 200px;	
}

.block h4 {
	/*block title*/
	background: #6eb5e5;
	color: #fff;
	font-size: 15px;
	line-height: 30px;
	margin: 0;
	padding: 0 0 0 7px;
	text-transform: uppercase;
}

.block .block-content {
	/*block content*/
	/**overflow: hidden;**/
	padding: 12px;
}

.vals-news{
	/**overflow: hidden;**/
	float:left;
	width: 436px;
	height: 176px;
	display: inline-block;
}

.vals-program{
	/**overflow: hidden;**/
	float:left;
	width: 436px;
	height: 176px;
	display: inline-block;
}


/*************************************************
	CSS for the timeline block
*************************************************/
#program-map {
	/*homepage right column*/
	/**float: left;**/
	float: right;
	width: 213px;
	/**  border: 1px solid blue;**/
	display: inline-block;
	min-height: 370px;
}

.block-project-timeline .block-content {
	padding: 12px 0 0 0;
}

.block-project-timeline .block-content .block-program-timeline-new {
	color: #2d88b8;
	text-align: center;
}

.block-project-timeline .block-content .block-program-timeline-new .timeline-head {
  height: 48px;
}

.block-project-timeline .block-content .block-program-timeline-new .timeline-head .title {
	font-size: 12px;
	font-weight: bold;
	padding: 9px 0 0;
	white-space: nowrap;
}

.block-project-timeline .block-content .block-program-timeline-new .timeline-head .timerange {
	font-size: 12.04px;
	text-transform: uppercase;
	font-weight: bold;
	padding: 1px 0 0;
}

.block-project-timeline .block-content .block-program-timeline-new .timeline-body {
	height: 150px;
	width: 187px;
	margin: 0 auto;
}

.block-project-timeline .block-content .block-project-timeline-countdown {
	margin-top: 10px;
	text-align: center;
}

.block-project-timeline .block-content .block-project-timeline-countdown .deadline {
	color: #3ba3dc;
	display: block;
	line-height: 1.2em;
	font-size: 12.04px;
}

.block-project-timeline .block-content .block-project-timeline-countdown .countdown {
	color: #D5620E;
	display: block;
	font-size: 12px;
	margin: 10px 0 15px 0;
}

/*************************************************
	CSS for the live countdown (in the timeline block)
*************************************************/

.is-countdown {
	/**border: 1px solid #ccc;**/
	background-color: #eeeff;
}

.countdown-rtl {
	direction: rtl;
}

.countdown-holding span {
	color: #888;
}

.countdown-row {
	clear: both;
	width: 100%;
	padding: 0px 2px;
	text-align: center;
}

.countdown-show1 .countdown-section {
	width: 98%;
}

.countdown-show2 .countdown-section {
	width: 48%;
}

.countdown-show3 .countdown-section {
	width: 32.5%;
}

.countdown-show4 .countdown-section {
	width: 24.5%;
}

.countdown-show5 .countdown-section {
	width: 19.5%;
}
.countdown-show6 .countdown-section {
	width: 16.25%;
}

.countdown-show7 .countdown-section {
	width: 14%;
}

.countdown-section {
	display: block;
	float: left;
	text-align: center;
}

.countdown-amount {
	font-size: 100%;
}

.countdown-period {
	display: block;
}

.countdown-descr {
	display: block;
	width: 100%;
}